body{
font-family: Arial;
margin:0;
background:#0f172a;
color:white;
}

header{
background:#020617;
padding:40px;
text-align:center;
}

nav{
background:#111827;
padding:15px;
text-align:center;
}

nav a{
color:#38bdf8;
margin:15px;
text-decoration:none;
font-weight:bold;
}

section{
padding:50px;
max-width:900px;
margin:auto;
}

h2{
color:#22c55e;
}

.card{
background:#111827;
padding:20px;
margin:20px 0;
border-radius:10px;
}

.btn{
background:#22c55e;
padding:10px 20px;
color:black;
text-decoration:none;
border-radius:6px;
}

footer{
background:#020617;
text-align:center;
padding:20px;
margin-top:40px;
}
